<!DOCTYPE html>
<html lang="en">
<head>
  <title>About</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
 <style>
  h1,h2,h3,h4,h5,h6 {
      color : white;
  }
  p {
    color : black;
  }
  </style>
</head>
<body>
  <!-- NAVBAR-->
  <nav class="navbar navbar-default" margin-bottom>
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">DOWNING JONES</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="stockmarket.html">Stock Market <span class="sr-only">(current)</span></a></li>
          <li><a href="company.html">Company</a></li>
          <li><a href="location.html">Location</a></li>
          <li><a href="currency.html">Currency</a></li>
          </ul>
            <ul  class="nav navbar-nav navbar-right">
          </li>
          <li class="active"><a href="about.html">About</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- END NAVBAR -->

<!-- About the authors part-->
    <div class="jumbotron" style = "margin-bottom: 0px; margin-top: 0px; padding:0px">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner" >
         <style>.carousel-inner{margin:auto;max-width: 100%;}</style>
        <div class="item active">
          <img src="static/Building.jpg" width= "100%";>
            <div class="carousel-caption">
              <style>.carousel-caption{background-color: black;opacity: 0.7;}</style>
              <h1>The Downing Jones</h1>
            <p class="lead"> About Us</p>

          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="container" style = "background-image: url(static/background4.jpg); width: 100%;margin-left:0px; margin-right:0px;margin-top: 0%">             
      <h2 style = "text-align : center;font-weight : bold; padding : 20px"> Who We Are </h2>
      <h4 style = "font-weight : normal; text-align : center; padding : 20px">We are an up and coming startup in Austin, Texas who's main goal is to help bring valuable informaiton regarding financial data to our clients.</h4> 
    </div>

  <div class="container" style = "background-image: url(static/background4.jpg); width: 100%;margin-left:0px; margin-right:0px">
              <div class="row Matthew panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="/static/MattPic.png" width="200" height="200">
                <h4>Matthew Coleman</h4>
                <h6><b>Role: </b>Front End</h6>
                <h6><b>Git Commits: </b>20</h6>
                <h6><b>Unit Tests: </b>0</h6>
                <h6><b>Issues: </b>4</h6>
            </div>

            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="/static/saleh.jpg" width="200" height="200">
                <h4>Saleh Alghusson</h4>
                <h6><b>Role: </b>professional server destroyer</h6>
                <h6><b>Git Commits: </b>15</h6>
                <h6><b>Unit Tests: </b>0</h6>
                <h6><b>Issues: </b>3</6>
            </div>

            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="/static/nathan.jpg" width="200" height="200">
                <h4>Nathan Adams</h4>
                <h6><b>Role: </b>Back End</h6>
                <h6><b>Git Commits: </b>5</h6>
                <h6><b>Unit Tests: </b>ALL</h6>
                <h6><b>Issues: </b>4</h6>
            </div>
        </div>

        <div class="row Saleh panel-body text-center">
          <div class="col-md-4 center-block">
                <div class="jumbotron">
                <p> I am currently a senior who is a underappreciated front end developer.Who's team also doesnt appreciate his creative design innovations for our website</p>
                </div>
            </div>

            <div class="col-md-4 center-block">
                <div class="jumbotron">
                <p> Senior computer science major. Likes to sleep and crash servers in his spare time. Needs a watch. Most heard phrase: "GOD DAMMIT SAL." </p>
                </div>
            </div>

            <div class="col-md-4 center-block">
                <div class="jumbotron">
                <p> Likes to blow things up back in Tyler, Texas. Is a very experienced full stack developer at SpiceWorks here in Austin, Texas. Loves Zoidberg.</p>
                </div>
            </div>
        </div>

        <div class="row Matthew panel-body text-center">
            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="static/sarah.jpg" width="200" height="200">
                <h4>Sarah Jee</h4>
                <h6><b>Role: </b>Front End</h6>
                <h6><b>Git Commits: </b>5</h6>
                <h6><b>Unit Tests: </b>0</h6>
                <h6><b>Issues: </b>4</h6>
            </div>

            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="static/kelvin.jpg" width="200" height="200">
                <h4>Kelvin He</h4>
                <h6><b>Role: </b>Back End</h6>
                <h6><b>Git Commits: </b>10</h6>
                <h6><b>Unit Tests: </b>0</h6>
                <h6><b>Issues: </b>4</h6>
            </div>

            <div class="col-md-4 center-block">
                <img class="profilePic img-circle" src="static/jae.jpg" width="200" height="200">
                <h4>Jemin Shin</h4>
                <h6><b>Role: </b>Front End</h6>
                <h6><b>Git Commits: </b>25</h6>
                <h6><b>Unit Tests: </b>0</h6>
                <h6><b>Issues: </b>3</h6>
            </div>
        </div>

        <div class="row Saleh panel-body text-center">
          <div class="col-md-4 center-block">
                <div class="jumbotron">
                <p>Incoming junior. Likes to visit Canada on weekends with family. Has bad luck with planes and traveling in general. She works on front end stuff.</p>
                </div>
            </div>

            <div class="col-md-4 center-block">
                <div class="jumbotron">
                <p> HE'S SINGLE! Hates to tell people what to do but has to delegate work between members. Loves to be innovative and creative but assigned to do backend.</p>
                </div>
            </div>

            <div class="col-md-4 center-block">
                <div class="jumbotron">
                <p> Senior computer science major. Plays video games sometimes, except when it comes to wow. I love that shit. Most commonly said phrase: "GOD DAMMIT SAL."</p>
                </div>
            </div>
        </div>

        <div id="space" class="row panel-body text-center">
            <div class="col-md-4 center-block">
                <h4>Tools Used</h4>
                <h5>Bootstrap</h5>
                <h5>Flask</h5>
                <h5>Git</h5>
                <h5>Travis-CI</h5>
                <h5>SQLAlchemy</h5>
                <h5>Apiary</h5>
            </div>
            <div class="col-md-4 center-block">
                <h4>Links</h4>
                <h5><a href="https://github.com/kelvinhe273/IDB-Group7">Github Repo</a></h5>
                <h5><a href="https://github.com/kelvinhe273/IDB-Group7/issues">Github Issue Tracker</a></h5>
                <h5><a href="https://github.com/kelvinhe273/IDB-Group7/wiki">Github Wiki</a></h5>
                <h5><a href="http://docs.financeapi2.apiary.io/">Apiary Api</a></h5>
            </div>
            <div class="col-md-4 center-block">
                <h4>Stats</h4>
                <h5><b># Commits: </b>80</h5>
                <h5><b># Issues: </b>20</h5>
                <h5><b># Unit Tests: </b>10</h5>
                <button id="test-button"><h5>Run Tests</h5></button>
                
            </div>
        </div>

</body>
</html>