{% extends "layout.html" %}
{% block body %}
<!-- Header Well -->
<div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; background-color: Gainsboro ">
  <h1 style = "font-weight : bold; text-align : center;">Yahoo</h1>
  <p></p>
  <h3 style = "font-weight : bold; text-align : center">Yhoo(Country : <a href="us.html">US </a> )</h3>
</div>
<!-- End Well -->
<!-- PAGE CONTENT -->
<div class="container-fluid" style = "background-image: url(static/background4.jpg)">
  <div class="jumbotron">
      <div class="row">
          <div class="col-xs-4">
              <div class="row">
                  <div class="col-xs-12">
                    <h4>Price: 32.48 Currency: <a href="dollars.html">USD </a></h4>
                    <p></p>
                    <h5 style = "border-bottom: 1px solid grey">Stock Exchange: <a href="nasdaq.html">NASDAQ</a></h5>
                    <p></p>
                  </div>
                  <div class="col-xs-12">
                    <h4>Percent Change: 3.24%</h4>
                    <p></p>
                    <h5 style = "border-bottom: 1px solid grey">Start: 10 USD   End: 32.48 USD</h5>
                    <p></p>
                  </div>
                  <div class="col-xs-12"><h4>dividend/AYP: 2.68%</h4></div>
                  <p></p>
              </div>
          </div>
          <div class="col-xs-8">
              <h3 style = "text-align:center">
                <img src="static/chart.png" height="400px">
              </h3>
          </div>
      </div>
  </div>
  <div class="well well-md" style = "border-bottom: 3px solid; background-color: Gainsboro">
    <h1 style = "font-weight : bold; text-align : left">Additional Information</h1>
  </div>
</div>
<div class="container" style = "background-color:lightgrey ">
  <div class="row">
    <div class="col-xs-4" style ="text-align: center; border-right: 1px solid black">
      <h5 style = "border-bottom: 1px solid grey">EPS: 2.019</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">PE: 16.64</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">PEG: 1.74</h5>
      <p></p>
    </div>
    <div class="col-xs-4" style ="text-align: center">
      <h5 style = "border-bottom: 1px solid grey">Days Range: 37.43 - 38.08</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">52 Week Range: 26.15 - 39.98</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">1 yr. Target Estimate: 40.94</h5>
    </div>
    <div class="col-xs-4" style ="text-align: center">
      <h5 style = "border-bottom: 1px solid grey">Volume: 10,602,792</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Avg Volume: 13,678,600</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Market Cap: 40.94</h5>
    </div>
    <p></p>
  </div>
</div>
{% endblock %}