{% extends "layout.html" %}
{% block body %}
<!-- Header Well -->
<div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; background-color: Gainsboro ">
  <h1 style = "font-weight : bold; text-align : center;">{{ company.name }}</h1>
  <p></p>
  <h3 style = "font-weight : bold; text-align : center">{{ company.symbol }}<a href="/locations/{{company.rowid}}">{{ company.location }}</a></h3>
</div>
<!-- End Well -->
<!-- PAGE CONTENT -->
<div class="container-fluid" style = "background-image: url(static/background4.jpg)">
  <div class="jumbotron">
      <div class="row">
          <div class="col-xs-4">
              <div class="row">
                  <div class="col-xs-12">
                    <h4>Price: {{company.ask_price}} </h4>
                      <h4>Currency: <a href="/currency/{{company.currency}}">{{company.currency}} </a></h4>
                    <h4>Stock Exchange: <a href="/stockmarkets/{{company.exchange}}">{{company.exchange}}</a></h4>
                  </div>
                  <div class="col-xs-12">
                    <h4>Percent Change: {{company.percent_change}}</h4>
                    <p></p>
                    <h4>Start: {{company.open_price}} {{company.currency}}  </h4>
					<h4> End: {{company.previous_price}}{{company.currency}}</h4>
                
                  </div>
                  <div class="col-xs-12"><h4></h4></div>
                  <p></p>
              </div>
          </div>
          <div class="col-xs-8">
              <h3 style = "text-align:center">
                <img src="http://chart.finance.yahoo.com/z?s={{company.symbol}}&t=6m&q=l&l=on&z=s&p=m50,m200"/>
              </h3>
          </div>
      </div>
  </div>
  <div class="well well-md" style = "border-bottom: 3px solid; background-color: Gainsboro">
    <h1 style = "font-weight : bold; text-align : left">Additional Information</h1>
  </div>
</div>
<div class="container" style = "background-color:lightgrey ">
  <div class="row">
    <div class="col-xs-4" style ="text-align: center; border-right: 1px solid black">
      <h5 style = "border-bottom: 1px solid grey">EPS: {{company.eps}}</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Percent Change Fifty: {{company.percent_change_fifty}}</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">PEG: {{company.peg}}</h5>
      <p></p>
    </div>
    <div class="col-xs-4" style ="text-align: center">
      <h5 style = "border-bottom: 1px solid grey">Days Range: {{company.days_range}}</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Percent Change Two Hundred: {{company.percent_change_twohundred}}</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Year High: {{company.year_high}}</h5>
    </div>
    <div class="col-xs-4" style ="text-align: center">
      <h5 style = "border-bottom: 1px solid grey">Volume: {{company.volume}}</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Avg Volume: {{company.avg_volume}}</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Market Cap: {{company.market_cap}}</h5>
    </div>
    <p></p>
  </div>
</div>
{% endblock %}