<!DOCTYPE html>
<html lang="en">
<head>
  <title>Company 2</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.12.3.js"></script>
 <style>
  .jumbotron{
    background-color: #262626;
    color:white;
    padding-left :0px;

  }
  h2{
    color: red;
  }

  body{
    background-image: url("static/background4.jpg");
    background-size: cover;

  }
  </style>
</head>
<body>

<!-- NAVBAR-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">IMDB Group 7</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li><a href="stockmarket.html">Stock Market <span class="sr-only">(current)</span></a></li>
          <li class="active"><a href="company.html">Company</a></li>
          <li><a href="location.html">Location</a></li>
          <li><a href="currency.html">Currency</a></li>
          </ul>
            <ul  class="nav navbar-nav navbar-right">
          </li>
          <li><a href="about.html">About</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- END NAVBAR -->
<!-- Header Well -->
<div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; background-color: Gainsboro ">
  <h1 style = "font-weight : bold; text-align : center;">Yahoo</h1>
  <p></p>
  <h3 style = "font-weight : bold; text-align : center">Yhoo(Country : <a href="us.html">US </a> )</h3>
</div>
<!-- End Well -->
<!-- PAGE CONTENT -->
<div class="container-fluid" style = "background-image: url(static/background4.jpg)">
  <div class="jumbotron">
      <div class="row">
          <div class="col-xs-4">
              <div class="row">
                  <div class="col-xs-12">
                    <h4>Price: 32.48 Currency: <a href="dollars.html">USD </a></h4>
                    <p></p>
                    <h5 style = "border-bottom: 1px solid grey">Stock Exchange: <a href="nasdaq.html">NASDAQ</a></h5>
                    <p></p>
                  </div>
                  <div class="col-xs-12">
                    <h4>Percent Change: 3.24%</h4>
                    <p></p>
                    <h5 style = "border-bottom: 1px solid grey">Start: 10 USD   End: 32.48 USD</h5>
                    <p></p>
                  </div>
                  <div class="col-xs-12"><h4>dividend/AYP: 2.68%</h4></div>
                  <p></p>
              </div>
          </div>
          <div class="col-xs-8">
              <h3 style = "text-align:center">
                Graph of Stock goes here
              </h3>
          </div>
      </div>
  </div>
  <div class="well well-md" style = "border-bottom: 3px solid; background-color: Gainsboro">
    <h1 style = "font-weight : bold; text-align : left">Additional Information</h1>
  </div>
</div>
<div class="container" style = "background-color:lightgrey ">
  <div class="row">
    <div class="col-xs-4" style ="text-align: center; border-right: 1px solid black">
      <h5 style = "border-bottom: 1px solid grey">EPS: 2.019</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">PE: 16.64</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">PEG: 1.74</h5>
      <p></p>
    </div>
    <div class="col-xs-4" style ="text-align: center">
      <h5 style = "border-bottom: 1px solid grey">Days Range: 37.43 - 38.08</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">52 Week Range: 26.15 - 39.98</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">1 yr. Target Estimate: 40.94</h5>
    </div>
    <div class="col-xs-4" style ="text-align: center">
      <h5 style = "border-bottom: 1px solid grey">Volume: 10,602,792</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Avg Volume: 13,678,600</h5>
      <p></p>
      <h5 style = "border-bottom: 1px solid grey">Market Cap: 40.94</h5>
    </div>
    <p></p>
  </div>
</div>

 <!-- END PAGE CONTENT
</body>
</html>