{% extends "layout.html" %}
{% block body %}
<!-- PAGE CONTENT -->
  <div class="container-fluid">
    <div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; boldackground-color: Gainsboro ">
      <h1 style = "font-weight : bold; text-align : center;">Companies</h1>
    <p></p>
  </div>  <table id="companytable" class="table table-hover table-responsive">
  <thead>
    <tr>
      <th id="name">Name</th>
      <th id="stockexchange">Stock Exchange</th>
      <th id="location">Location</th>
      <th id="currency">Currency</th>
      <th id="symbol">Symbol</th>
    </tr>
    </thead>
    <!-- Figure out how to add foreign currency signs.-->
    <tbody>
      <tr>
         <td><a href="company1.html">Yahoo</a></td>
         <td><a href="nasdaq.html">NASDAQ</a></td>
         <td><a href="us.html">USA</a></td>
         <td><a href="dollars.html">US Dollars</a></td>
         <td>YHOO</td>
      </tr>
      <tr>
        <td><a href="company2.html">Safran SA</a></td>
        <td><a href="par.html">PAR</a></td>
        <td><a href="france.html">France</a></td>
        <td><a href="euros.html">Euro</a></td>
        <td>SAF</td>
      </tr>
      <tr>
        <td><a href="company3.html">ABC</a></td>
         <td><a href="lse.html">LSE</a></td>
         <td><a href="greatbritain.html">United Kingdom</a></td>
         <td><a href="pounds.html">Pound sterling</a></td>
         <td>ABCAM</td>
      </tr>
      </tbody>
  </table>
 </div> 
<!-- END PAGE CONTENT-->
<!-- SCRIPT FOR SORTING-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
      $('#companytable').DataTable();
  } );
</script>
<!-- END SCRIPT FOR SORTING-->
{% endblock %}

