{% extends "layout.html" %}
{% block body %}

<!-- PAGE CONTENT -->
 <div class="container-fluid">
  <div class="row" style="padding:30px">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: center">
      <h1 style = "font-weight : bold">Currency</h1>
    </div>
</div>
  <table id="currencytable" class="table table-hover table-striped table-responsive table-bordered">
    <thead>
    <tr>
      <th id="name">Name</th>
      <th id="currencycode">Currency Code</th>
      <th id="exchange">Exchange</th>
      <th id="location">Location</th>
      <th id="exchangerate">Exchange Rate (To U.S Dollar)</th>
    </tr>
    </thead>
    <!-- Figure out how to add foreign currency signs.-->
    <tbody>
      {% for currency in currencies %}
        <tr>
         <td><a href="/currencies/{{currency.rowid}}">{{ currency.name }}</a></td>
         <td>{{ currency.currency }}</td>
          <td><a href="/stockmarkets/{{currency.rowid}}">{{ currency.exchanges }}</a></td>           
         <td><a href="/locations/{{currency.rowid}}">{{ currency.locations }}</a></td>
         <td>{{ currency.exchange_rate }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
 </div> 
<!-- END PAGE CONTENT -->
<!-- SCRIPT FOR SORTING-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
      $('#currencytable').DataTable();
  } );
</script>

<!-- END SCRIPT FOR SORTING-->
{% endblock %}