{% extends "layout.html" %}
{% block body %}
<style>
a{
	color: black;
}
b{
    font-size:16px;
}
th,a {
    padding: 15px !important;
}
td{
    text-align:center;
}

body{
    background:linear-gradient(rgba(200,265,265,0.45), rgba(265,265,265,0.45)), url("../static/background3.png");
    background-size: cover !important;
}
</style>
<script type="text/javascript" src="../static/count.js" ></script>
<!-- PAGE CONTENT -->
<div class="content">
    <div class="row" style="padding:30px">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
          <h1 style = "font-weight : bold">{{currency.name}}</h1>
        </div>
    </div>
    <div class="row" style="padding:30px">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img id="currency-pic" src="../static/Currency/{{currency.currency}}-banknotes.png" style="max-width:100%">
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-3" id="content" >
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{currency.name}}</b>
                </div>                
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Location</th>
                                <td ><a class = "country2" id = "cr {{ currency.locations }}">{{currency.locations}}</a></td>
                            </tr>
                            <tr>
                                <th>Stock Exchange(s)</th>
                                <td ><a class = "exchange2" id = "ex {{ currency.exchanges }}">{{currency.exchanges}}</a></td>
                            </tr>
                            <tr>
                                <th>Currency Symbol</th>
                                <td >{{currency.currency}}</td>
                            </tr>
                            <tr>
                                <th> Exchange Rate</th>
                                <td > {{currency.exchange_rate}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script > 
onload = function(){count_helper('exchange', '2', '/stockmarkets/', 'ex '); count_helper('country', '2', '/locations/', 'cr ');} 
</script>
 <!-- END PAGE CONTENT -->
 
{% endblock %}