{% extends "layout.html" %}
{% block body %}

<link href="static/full-slider.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>


<!-- Carousel -->
<!-- Full Page Image Background Carousel Header -->
   <header id="myCarousel" class="carousel slide">
       <!-- Indicators -->
       <ol class="carousel-indicators">
           <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
           <li data-target="#myCarousel" data-slide-to="1"></li>
           <li data-target="#myCarousel" data-slide-to="2"></li>
       </ol>

       <!-- Wrapper for Slides -->
       <div class="carousel-inner" data-ride = "carousel">
           <div class="item active">
               <!-- Set the first background image using inline CSS below. -->
               <div class="fill" style="background-image:url('static/index1.jpg');"></div>
               <div class="carousel-caption">
               </div>
           </div>
           <div class="item">
               <!-- Set the second background image using inline CSS below. -->
               <div class="fill" style="background-image:url('static/index2.jpg');"></div>
               <div class="carousel-caption">
               </div>
           </div>
           <div class="item">
               <!-- Set the third background image using inline CSS below. -->
               <div class="fill" style="background-image:url('static/index3.jpg');"></div>
               <div class="carousel-caption">
               </div>
           </div>
       </div>

       <!-- Controls -->
       <a class="left carousel-control" href="#myCarousel" data-slide="prev">
           <span class="icon-prev"></span>
       </a>
       <a class="right carousel-control" href="#myCarousel" data-slide="next">
           <span class="icon-next"></span>
       </a>
   </header>
<!-- END CAROUSEL -->
 </div>
{% endblock %}
