{% extends "layout.html" %}
{% block body %}
<!-- PAGE CONTENT -->
 <div class="container-fluid">
  <div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; boldackground-color: Gainsboro ">
    <h1 style = "font-weight : bold; text-align : center;">Locations</h1>
  <p></p>
  </div>
  <table id="locationtable" class="table table-hover table-striped table-responsive table-bordered">
  <thead>
    <tr>
      <th id="name">Location</th>
      <th id="capital">Capital</th>
      <th id="gdp">GDP</th>
      <th id="iso">ISO</th>
    </tr>
    </thead>
    <!-- Figure out how to add foreign currency signs.-->
     <tbody>
      {% for location in locations %}
        <tr>
          <td><a href="/locations/{{location.rowid}}">{{ location.name }}</a></td>
          <td>{{ location.capital }}</td>
          <td>{{ location.gdp }}</td>
          <td>{{ location.iso }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
 </div> 
 <!-- END PAGE CONTENT -->

<!-- SCRIPT FOR SORTING-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
      $('#locationtable').DataTable();
  } );
</script>
<!-- END SCRIPT FOR SORTING-->
{% endblock %}