{% extends "layout.html" %}
{% block body %}
<style>
body{
    background:linear-gradient(rgba(200,265,265,0.45), rgba(265,265,265,0.45)), url("../static/background3.png");
    background-size: cover !important;
}
</style>
<!-- PAGE CONTENT -->
<!-- End Well -->
<!-- PAGE CONTENT -->

<div class="content">
  <div class="row" style="padding:30px">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align: center">
      <h1 style = "font-weight : bold">{{location.name}}</h1>
    </div>
  </div>
    <div class="row" style="padding:50px">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img id="location-pic" src="../static/{{location.iso}}-map.gif" height="500" width= "400">
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-2" id="content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{location.name}}</b>
                </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Currency</th>
                                <th><a href="/currencies/{{location.rowid}}">{{location.currency}}</a></th>
                            </tr>
                            <tr>
                                <th>Stock Exchanges</th>
                                <th><a href="/stockmarkets/{{location.rowid}}">{{location.location_exchange}}</a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}