{% extends "layout.html" %}
{% block body %}
<!-- PAGE CONTENT -->
<div class="container-fluid">
    <div class="row" style="padding:30px">
        <div class="col-xs-4 col-md-4"></div>
        <div class="col-xs-4 col-md-4" style="text-align: center">
            <h1 style = "font-weight : bold">Locations</h1>
        </div>
    </div>
    <div class="table-responsive">
        <table id="locationtable" class="table table-hover table-striped table-responsive table-bordered">
            <thead>
                <tr>
                    <th id="name">Location</th>
                    <th id="capital">Capital</th>
                    <th id="gdp">GDP</th>
                    <th id="iso">ISO</th>
                    <th id="currency">Currency</th>
                    <th id="exchanges">Exchanges</th>
                </tr>
            </thead>
          <!-- Figure out how to add foreign currency signs.-->
            <tbody>
                {% for location in locations %}
                <tr>
                    <td><a href="/locations/{{location.rowid}}">{{ location.name }}</a></td>
                    <td>{{ location.capital }}</td>
                    <td>{{ location.gdp }}</td>
                    <td>{{ location.iso }}</td>
                    <td> <a href="/currencies/{{location.rowid}}">{{ location.currency }}</a></td>
                    <td><a href="/stockmarkets/{{location.rowid}}">{{ location.location_exchange }}</a></td>            
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div> 
 <!-- END PAGE CONTENT -->

<!-- SCRIPT FOR SORTING-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
      $('#locationtable').DataTable();
  } );
</script>
<!-- END SCRIPT FOR SORTING-->
{% endblock %}