{% extends "layout.html" %}
{% block body %}
<!-- PAGE CONTENT -->
<div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; background-color: Gainsboro ">
  <h1 style = "font-weight : bold; text-align : center;">{{location.name}}</h1>
</div>
<!-- End Well -->
<!-- PAGE CONTENT -->
<div class="container-fluid" style = "background-image: url(static/background4.jpg)">
  <div class="jumbotron" style = "background-color: lightblue">
      <div class="row">
        <div class="col-xs-8">
              <img src="../static/{{location.iso}}-map.gif" height="800" width= "800" border="1px">
          </div>
          <div class="col-xs-4">
              <div class="row">
                  <div class="col-xs-12">
                    <h2>Currency: <!--<a href="dollars.html">-->{{location.currency}} <!--</a>--></h4>
                    <p></p>
                    <p></p>
                    <h3 style = "border-bottom: 1px solid grey">Stock Exchange: <!--<a href="nasdaq.html">-->{{location.location_exchange}}<!--</a>--></h5>
                    <p></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="well well-md" style = "border-bottom: 3px solid; background-color: Gainsboro">
    <h1 style = "font-weight : bold; text-align : left">Country's Companies</h1>
  </div>
  </div>
  <div class="container" style = "background-color:lightgrey ">
    <div class="row">
      <div class="col-xs-12" style ="text-align: center; border-right: 1px solid black">
        <h5 style = "border-bottom: 1px solid grey"><a href="company1.html">Yahoo</a></h5>
        <p></p>
        <h5 style = "border-bottom: 1px solid grey">1-800-Flowers</h5>
        <p></p>
        <h5 style = "border-bottom: 1px solid grey">21st Century Fox</h5>
        <p></p>
      </div>
    </div>
{% endblock %}