{% extends "layout.html" %}
{% block body %}
<div class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#andtab">And</a>
        </li>
        <li>
            <a href="#ortab">Or</a>
        </li>
    </ul>
    <div class="tab-info">
        <!-- THIS IS THE AND TABLES -->
        <div id="andtab" class ="tab-content active">
            <h1 class = "and" style ="text-align:center;"> Search For AND: </h1>
                {% for query in queries %}
                <script>
                 $( ".and" ).append( "<strong>{{query}}</strong" );
                </script>
                {% if not loop.last %}
                <script>
                $( ".and" ).append( " and " );
                </script>
                {% endif %}
                {% endfor %}
            <div class="container-fluid">
                <div class="row" style="padding:30px">
                    <div class="col-md-4 col-xs-4"></div>
                    <div class="col-md-4 col-xs-4" style="text-align: center">
                        <h1 style = "font-weight : bold">Search Results</h1>
                    </div>
                </div>

                {% if queriesand1 %}
                <div class="row" style="padding:30px">
                    <div class="col-md-4 col-xs-4"></div>
                        <div class="col-md-4 col-xs-4" style="text-align: center">
                            <h1 style = "font-weight : bold">Location</h1>
                        </div>
                    </div>
                    <div class="table-responsive"> 
                        <table id="locationtable" class="table table-hover table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th id="name">Name</th>
                                    <th id="symbol">Symbol</th>
                                    <th id="exchange">Capital</th>
                                    <th id="currency">GDP</th>
                                    <th id="location">Currency</th>
                                    <th id="location">Excahnge</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queriesand1 %}
                                <tr>
                                    <td><a href="/locations/{{query.rowid}}">{{ query.name }}</a></td>
                                    <td>{{ query.iso }}</td>
                                    <td>{{ query.capital}}</td>
                                    <td>{{ query.gdp}}</td>
                                    <!-- fix this sal hardcode this like the other table-->
                                    <td><a href="/currencies/{{query.rowid}}">{{ query.currency}}</a></td>
                                    <td><a href="/stockmarkets/{{query.rowid}}">{{ query.location_exchange}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> 
                {% endif %}
                {% if queriesand2 %}
                <div class="container-fluid">
                    <div class="row" style="padding:30px">
                        <div class="col-md-4 col-xs-4"></div>
                        <div class="col-md-4 col-xs-4" style="text-align: center">
                            <h1 style = "font-weight : bold">Exchange</h1>
                        </div>
                    </div>
                    <div class="table-responsive"> 
                        <table id="exchangetable" class="table table-hover table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th id="name">Name</th>
                                    <th id="symbol">Symbol</th>
                                    <th id="exchange">Market Cap</th>
                                    <th id="currency">Currency</th>
                                    <th id="location">Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queriesand2 %}
                                <tr>
                                    <td><a href="/stockmarkets/{{query.rowid}}">{{ query.name }}</a></td>
                                    <td><a href="/stockmarkets/{{query.rowid}}">{{ query.exchange }}</a></td>
                                    <td>{{ query.market_cap_exchange}}</td>
                                    <!-- fix this sal hardcode this like the other table-->
                                    <td><a href="/currencies/{{query.rowid}}">{{ query.currency}}</a></td>
                                    <td><a href="/locations/{{query.rowid}}">{{ query.location}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if queriesand3 %}
                <div class="container-fluid">
                    <div class="row" style="padding:30px">
                        <div class="col-md-4 col-xs-4"></div>
                        <div class="col-md-4 col-xs-4" style="text-align: center">
                            <h1 style = "font-weight : bold">Currency</h1>
                        </div>
                    </div>
                    <div class="table-responsive"> 
                        <table id="currencytable" class="table table-hover table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th id="name">Name</th>
                                    <th id="symbol">Currency</th>
                                    <th id="exchange">Locations</th>
                                    <th id="currency">Exchanges</th>
                                    <th id="location">Exchange Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queriesand3 %}
                                <tr>
                                    <!-- fix this sal hardcode this like the other table .. SAL SAYS HE DUNN IT-->
                                    <td><a href="/currency/{{ query.rowid }}">{{ query.name }}</a></td>
                                    <!-- fix this sal hardcode this like the other table .. SAL SAYS HE DUNN IT-->
                                    <td><a href="/currency/{{ query.rowid }}">{{ query.currency }}</a></td>

                                    <!--td><a href="/locations/{{ query.rowid }}">{{ query.locations}}</a></td-->
                                    <!--td><a href="/stockmarkets/{{query.rowid}}">{{ query.exchanges}}</a></td-->

                                    <td><a class = "country" id = "cr {{ query.locations }}" > {{ query.locations }} </a></td>
                                    <td><a class = "exchange" id = "ex {{ query.exchanges }}" >{{ query.exchanges }}</a></td>
                                    <td>{{ query.exchange_rate}}</td>

                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if queriesand4 %}
                <div class="container-fluid">
                    <div class="row" style="padding:30px">
                        <div class="col-md-4 col-xs-4"></div>
                        <div class="col-md-4 col-xs-4" style="text-align: center">
                            <h1 style = "font-weight : bold">Company</h1>
                        </div>
                    </div>
                    <div class="table-responsive"> 
                        <table id="companytable" class="table table-hover table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th id="name">Symbol</th>
                                    <th id="symbol">Name</th>
                                    <th id="exchange">Exchange</th>
                                    <th id="currency">Currency</th>
                                    <th id="location">Location</th>
                                    <th id="name">Open Price</th>
                                    <th id="symbol">Previous Price</th>
                                    <th id="exchange">Percent Change</th>
                                    <th id="currency">Year High</th>
                                    <th id="location">Ask Price</th>
                                    <th id="name">EPS</th>
                                    <th id="symbol">PEG</th>
                                    <th id="currency">Percent Change Fifty days</th>
                                    <th id="name">Volume</th>
                                    <th id="symbol">Average Volume</th>
                                    <th id="exchange">Market Cap</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queriesand4 %}
                                <tr>
                                    <td>{{ query.symbol }}</td>
                                    <td><a href="/companies/{{query.rowid}}">{{ query.name }}</a></td>
                                    <td><a href="/stockmarkets/{{query.foreign_id}}">{{ query.exchange}}</a></td>
                                    <!-- fix this sal hardcode this like the other table-->
                                    <td><a href="/currencies/{{query.foreign_id}}">{{ query.currency}}</a></td>
                                    <td><a href="/locations/{{query.foreign_id}}">{{ query.location}}</a></td>
                                    <td>{{ query.open_price }}</td>
                                    <td>{{ query.previous_price }}</td>
                                    <td>{{ query.percent_change}}</td>
                                    <td>{{ query.year_high}}</td>
                                    <td>{{ query.ask_price}}</td>
                                    <td>{{ query.eps }}</td>
                                    <td>{{ query.peg }}</td>
                                    <td>{{ query.percent_change_fifty}}</td>
                                    <td>{{ query.volume }}</td>
                                    <td>{{ query.avg_volume }}</td>
                                    <td>{{ query.market_cap}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- THIS IS THE OR TABLES -->
        <div id="ortab" class="tab-content hide">
            <div class="container-fluid">
                <h1 class = "or" style ="text-align:center;"> Search For OR: </h1>
                {% for query in queries %}
                <script>
                $( ".or" ).append( "<strong>{{query}}</strong" );
                </script>
                {% if not loop.last %}
                <script>
                $( ".or" ).append( " or " );
                </script>
                {% endif %}
                {% endfor %}

                

                {% if queriesor1 %}
                <div class="container-fluid">
                    <div class="row" style="padding:30px">
                        <div class="col-md-4 col-xs-4"></div>
                        <div class="col-md-4 col-xs-4" style="text-align: center">
                            <h1 style = "font-weight : bold">Location</h1>
                        </div>
                    </div>
                    <div class="table-responsive"> 
                        <table id="locationtableor" class="table table-hover table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th id="name">Name</th>
                                    <th id="symbol">Symbol</th>
                                    <th id="exchange">Capital</th>
                                    <th id="currency">GDP</th>
                                    <th id="location">Currency</th>
                                    <th id="location">Excahnge</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queriesor1 %}
                                <tr>
                                    <td><a href="/locations/{{query.rowid}}">{{ query.name }}</a></td>
                                    <td>{{ query.iso }}</td>
                                    <td>{{ query.capital}}</td>
                                    <td>{{ query.gdp}}</td>
                                    <!-- fix this sal hardcode this like the other table-->
                                    <td><a href="/currencies/{{query.rowid}}">{{ query.currency}}</a></td>
                                    <td><a href="/stockmarkets/{{query.rowid}}">{{ query.location_exchange}}</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div> 
                {% endif %}
                {% if queriesor2 %}
                <div class="container-fluid">
                    <div class="row" style="padding:30px">
                        <div class="col-md-4 col-xs-4"></div>
                        <div class="col-md-4 col-xs-4" style="text-align: center">
                            <h1 style = "font-weight : bold">Exchange</h1>
                        </div>
                    </div>
                    <div class="table-responsive"> 
                        <table id="exchangetableor" class="table table-hover table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th id="name">Name</th>
                                    <th id="symbol">Symbol</th>
                                    <th id="exchange">Market Cap</th>
                                    <th id="currency">Currency</th>
                                    <th id="location">Location</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queriesor2 %}
                                <tr>
                                    <td><a href="/stockmarkets/{{query.rowid}}">{{ query.name }}</a></td>
                                    <td><a href="/stockmarkets/{{query.rowid}}">{{ query.exchange }}</a></td>
                                    <td>{{ query.market_cap_exchange}}</td>
                                    <!-- fix this sal hardcode this like the other table-->
                                    <td><a href="/currencies/{{query.rowid}}">{{ query.currency}}</a></td>
                                    <td><a href="/locations/{{query.rowid}}">{{ query.location}}</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if queriesor3 %}
                <div class="container-fluid">
                    <div class="row" style="padding:30px">
                        <div class="col-md-4 col-xs-4"></div>
                        <div class="col-md-4 col-xs-4" style="text-align: center">
                            <h1 style = "font-weight : bold">Currency</h1>
                        </div>
                    </div>
                    <div class="table-responsive"> 
                        <table id="currencytableor" class="table table-hover table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th id="name">Name</th>
                                    <th id="symbol">Currency</th>
                                    <th id="exchange">Locations</th>
                                    <th id="currency">Exchanges</th>
                                    <th id="location">Exchange Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queriesor3 %}
                                <tr>
                                    <!-- fix this sal hardcode this like the other table .. SAL SAYS HE DUNN IT-->
                                    <td><a href="/currency/{{ query.rowid }}">{{ query.name }}</a></td>
                                    <!-- fix this sal hardcode this like the other table .. SAL SAYS HE DUNN IT-->
                                    <td><a href="/currency/{{ query.rowid }}">{{ query.currency }}</a></td>

                                    <!--td><a href="/locations/{{ query.rowid }}">{{ query.locations}}</a></td-->
                                    <!--td><a href="/stockmarkets/{{query.rowid}}">{{ query.exchanges}}</a></td-->

                                    <td><a class = "country" id = "cr {{ query.locations }}" > {{ query.locations }} </a></td>
                                    <td><a class = "exchange" id = "ex {{ query.exchanges }}" >{{ query.exchanges }}</a></td>
                                    <td>{{ query.exchange_rate}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
                {% if queriesor4 %}
                <div class="container-fluid">
                    <div class="row" style="padding:30px">
                        <div class="col-md-4 col-xs-4"></div>
                        <div class="col-md-4 col-xs-4" style="text-align: center">
                            <h1 style = "font-weight : bold">Company</h1>
                        </div>
                    </div>
                    <div class="table-responsive"> 
                        <table id="companytableor" class="table table-hover table-striped table-responsive table-bordered">
                            <thead>
                                <tr>
                                    <th id="name">Symbol</th>
                                    <th id="symbol">Name</th>
                                    <th id="exchange">Exchange</th>
                                    <th id="currency">Currency</th>
                                    <th id="location">Location</th>
                                    <th id="name">Open Price</th>
                                    <th id="symbol">Previous Price</th>
                                    <th id="exchange">Percent Change</th>
                                    <th id="currency">Year High</th>
                                    <th id="location">Ask Price</th>
                                    <th id="name">EPS</th>
                                    <th id="symbol">PEG</th>
                                    <th id="currency">Percent Change Fifty days</th>
                                    <th id="name">Volume</th>
                                    <th id="symbol">Average Volume</th>
                                    <th id="exchange">Market Cap</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for query in queriesor4 %}
                                <tr>
                                    <td>{{ query.symbol }}</td>
                                    <td><a href="/companies/{{query.rowid}}">{{ query.name }}</a></td>
                                    <td><a href="/stockmarkets/{{query.foreign_id}}">{{ query.exchange}}</a></td>
                                    <!-- fix this sal hardcode this like the other table-->
                                    <td><a href="/currencies/{{query.foreign_id}}">{{ query.currency}}</a></td>
                                    <td><a href="/locations/{{query.foreign_id}}">{{ query.location}}</a></td>
                                    <td>{{ query.open_price }}</td>
                                    <td>{{ query.previous_price }}</td>
                                    <td>{{ query.percent_change}}</td>
                                    <td>{{ query.year_high}}</td>
                                    <td>{{ query.ask_price}}</td>
                                    <td>{{ query.eps }}</td>
                                    <td>{{ query.peg }}</td>
                                    <td>{{ query.percent_change_fifty}}</td>
                                    <td>{{ query.volume }}</td>
                                    <td>{{ query.avg_volume }}</td>
                                    <td>{{ query.market_cap}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script> 
onload = function(){count_helper('exchange', '', '/stockmarkets/', 'ex '); count_helper('country', '', '/locations/', 'cr ');} 
</script>

<!-- END PAGE CONTENT-->
<!-- SCRIPT FOR SORTING-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<script>
jQuery(document).ready(function(){
        jQuery('#hideshow').on('click', function(event) {        
             jQuery('#and').toggle('show');
        });
    });
</script>
<script>
  $(document).ready(function() {
      $('#locationtable').DataTable();
      $('#exchangetable').DataTable();
      $('#currencytable').DataTable();
      $('#companytable').DataTable();
      $('#locationtableor').DataTable();
      $('#exchangetableor').DataTable();
      $('#currencytableor').DataTable();
      $('#companytableor').DataTable();
  } );
</script>

<script>
$(document).ready(function() {
        $('.nav-tabs > li > a').click(function(event){
        event.preventDefault();//stop browser to take action for clicked anchor
                    
        //get displaying tab content jQuery selector
        var active_tab_selector = $('.nav-tabs > li.active > a').attr('href');                  
                    
        //find actived navigation and remove 'active' css
        var actived_nav = $('.nav-tabs > li.active');
        actived_nav.removeClass('active');
                    
        //add 'active' css into clicked navigation
        $(this).parents('li').addClass('active');
                    
        //hide displaying tab content
        $(active_tab_selector).removeClass('active');
        $(active_tab_selector).addClass('hide');
                    
        //show target tab content
        var target_tab_selector = $(this).attr('href');
        $(target_tab_selector).removeClass('hide');
        $(target_tab_selector).addClass('active');
         });
      });
</script>

<style>
    .tab-content.active{
        display: block;
    }
            
    .tab-content.hide{
        display: none;
    }
</style>

{% endblock %}




