{% extends "layout.html" %}
{% block body %}
<!-- PAGE CONTENT -->
<style>
$('table-responsive').bootstrapTable({
    onEventName: count_helper('currency', '', '/currencies/', 'cu ', true)});

$('table-responsive').on('onSort', count_helper('currency', '', '/currencies/', 'cu ', true));
</style>


<div class="container-fluid" >
    <div class="row" style="padding:30px">
        <div class="col-xs-4 col-md-4 "></div>
            <div class="col-xs-4 col-md-4" style="text-align: center">
                <h1 style = "font-weight : bold">Stock Exchanges</h1>
            </div>
        </div>
    <div class='table-responsive' >
        <table id="stocktable" class="table table-hover table-striped table-responsive table-bordered" >
            <thead >
                <tr > 
                    <th id="name" >Name</th>
                    <th id="symbol" >Symbol</th>
                    <th id="market_cap_exchange" >Market Cap Exchange</th>
                    <th id="location" >Location</th>
                    <th id="currency" >Currency</th>
                </tr>
            </thead>
            <!-- Figure out how to add foreign currency signs.-->
            <tbody>
                {% for market in markets %}
                <tr>
                    <td><a href="/stockmarkets/{{market.rowid}}">{{ market.name }}<a></td>
                    <td>{{ market.exchange }}</td>
                    <td>{{ market.market_cap_exchange }}</td>
                    <td><a href="/locations/{{market.rowid}}">{{ market.location }}<a></td>
                    <td><a class = "currency" id = "cu {{ market.currency }}" >{{ market.currency }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!--script > 
onload = function(){count_helper('currency', '', '/currencies/', 'cu ', true); } 
</script-->
<!-- END PAGE CONTENT-->
<!-- SCRIPT FOR SORTING-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script>
  $(document).ready(function() {
      $('#stocktable').DataTable({ onSort:count_helper('currency', '', '/currencies/', 'cu ', true) });
    });

</script>



<!-- END SCRIPT FOR SORTING-->
{% endblock %}
