{% extends "layout.html" %}
{% block body %}
<!-- PAGE CONTENT -->
 <div class="container-fluid">
  <div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; boldackground-color: Gainsboro ">
    <h1 style = "font-weight : bold; text-align : center;">Stock Exchanges</h1>
  <p></p>
</div>
  <table id="stocktable" class="table table-hover table-responsive">
    <thead>
    <tr>
      <th id="name">Name</th>
      <th id="symbol">Symbol</th>
      <th id="market_cap_exchange">Market Cap Exchange</th>
    </tr>
    </thead>
    <!-- Figure out how to add foreign currency signs.-->
      <tbody>
        {% for market in markets %}
        <tr>
         <td><a href="/stockmarkets/{{market.rowid}}">{{ market.name }}<a></td>
         <td>{{ market.exchange }}</td>
         <td>{{ market.market_cap_exchange }}</td>
        </tr>
      {% endfor %}
      </tbody>
  </table>
 </div>
<!-- END PAGE CONTENT-->
<!-- SCRIPT FOR SORTING-->
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script>
  $(document).ready(function() {
      $('#stocktable').DataTable();
  } );
</script>
<!-- END SCRIPT FOR SORTING-->
{% endblock %}
