<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stock Exchanges</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/style.css">
  <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.12.3.js"></script>
 <style>
  /*body{
    background-image: url("static/background4.jpg");
    background-size: cover;
    }*/
    tr,tbody,a{
      color:white;
    }

    tr:hover td {
      background-color: lightblue;
  }

  </style>
</head>
<body>

<!-- NAVBAR-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">IMDB Group 7</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="index.html">Home</a></li>
          <li class="active"><a href="stockmarket.html">Stock Market <span class="sr-only">(current)</span></a></li>
          <li><a href="company.html">Company</a></li>
          <li><a href="location.html">Location</a></li>
          <li><a href="currency.html">Currency</a></li>
          </ul>
            <ul  class="nav navbar-nav navbar-right">
          </li>
          <li><a href="about.html">About</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <!-- END NAVBAR -->
<!-- PAGE CONTENT -->
<script>
$(document).ready(function() {
    $('#stocktable').DataTable();
} );
</script>
<div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; background-color: Gainsboro ">
  <h1 style = "font-weight : bold; text-align : center;">Stock Exchanges</h1>
  <p></p>
</div>
  <div class="container-fluid" >
  <table id="stocktable" class="table table-hover table-responsive">
    <thead>
    <tr>
      <th id="name">Name</th>
      <th id="location">Location</th>
      <th id="cureency">Currency</th>
    </tr>
    </thead>
    <!-- Figure out how to add foreign currency signs.-->
      <tbody>
      <tr>
         <td><a href="nasdaq.html">NASDAQ</a></td>
         <td><a href="us.html">USA</a></td>
         <td><a href="dollars.html">US Dollars</a></td>
      </tr>
      <tr>
        <td><a href="fra.html">FRA</a></td>
        <td><a href="france.html">France</a></td>
        <td><a href="euros.html">Euro</a></td>
      </tr>
      <tr>
         <td><a href="lse.html">LSE</a></td>
         <td><a href="greatbritain.html">United Kingdom</a></td>
         <td><a href="pounds.html">Pound sterling</a></td>
      </tr>
      </tbody>
  </table>
 </div> 
<!-- END PAGE CONTENT-->
<!-- SCRIPT FOR SORTING-->
<!-- END SCRIPT FOR SORTING-->

</body>
</html>

