{% extends "layout.html" %}
{% block body %}
<style>
body{
    background-image: url("../static/background3.png") !important;
    background-size: cover !important;
}
</style>
<!-- PAGE CONTENT -->
<div class="well well-lg" style = "border-top: 3px solid; border-bottom: 3px solid; margin-bottom:0px; background-color: Gainsboro ">
  <h1 style = "font-weight : bold; text-align : center;">{{market.name}}</h1>
</div>

<div class="content">
    <div class="row" style="padding:50px">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <img id="location-pic" src="../static/{{market.exchange}}-SE.gif" height="100" width= "300">
        </div>
        <div class="col-md-1"></div>

        <div class="col-md-2" id="content">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{market.name}}</b>
                </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Location</th>
                                <th><a href="/location/{{market.location}}">{{market.location}}</a></th>
                            </tr>
                            <tr>
                                <th>Market Cap</th>
                                <th>{{market.market_cap_exchange}}</a></th>
                            </tr>
                            <tr>
                              <th>Currency</th>
                              <th><a href="/currency/{{market.currency}}">{{market.currency}}</a></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- END PAGE CONTENT -->
{% endblock %}