/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color:white;
}

h3{
    color:white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color: white;
}

h3{
    color: white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color: white;
}

h3{
    color: white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color: white;
}

h3{
    color: white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color: white;
}

h3{
    color: white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color: white;
}

h3{
    color: white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color: white;
}

h3{
    color: white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color: white;
}

h3{
    color: white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:blue;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color: white;
}

h3{
    color: white;
}

body{
    background-image: url("background3.png");
    background-size: cover;
  }

}
