html, body{
    padding:0;
    margin:0;
}

table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:black;
}
th, td {
    padding: 16px !important;
}

td {
  text-align: left;
}
h2, p {
    color:white;
}

h3{
    color:white;
}

body{
    background-size: cover;
}


.carousel{
    padding-left:0;
    padding-right:0;
    margin:0;
}

.carousel-inner{    
    width:100%;
    padding-left:0;
    padding-right:0;
    margin:0;
}

#myCarousel{
    padding-left:0;
    padding-right:0;
    margin:0;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: lightblue;
 }