table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:black;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color:orange;
}
<<<<<<< HEAD
body{
    background-image: url("background4.jpg");
    background-size: cover;

  }
=======
/*body{
    background-image: url("static/background4.jpg");
    background-size: cover;

  }*/
>>>>>>> 8def6fd689bd803ac2cd58d834cd80bad7b708c9
