table{
    background-color:#a9a9a9;
    margin:auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    color:black;
}
th, td {
    padding: 5px;
}
td {
  text-align: left;
}
h2, p {
    color:white;
}

h3{
    color:white;
}

body{
    background-size: cover;
}



html, body{
    padding:0;
    margin:0;
}

.carousel{
    padding-left:0;
    padding-right:0;
    margin:0;
}

.carousel-inner{    
    width:100%;
    padding-left:0;
    padding-right:0;
    margin:0;
}

#myCarousel{
    padding-left:0;
    padding-right:0;
    margin:0;
}
